@* 
<html class="align-content-center">
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>

    </head>
    <body>
        <header>
            <a href="/home/index" class="btn btn-primary">Home</a>
        <a href="/home/AboutUs" class="btn btn-dark">AboutUs</a>
        <a href="/home/Contact" class="btn btn-danger">Contac</a>
        <a href="/home/Privacy" class="btn btn-secondary">privacy</a>

        </header>
        <div>
            <h1>
            Home Page

            </h1>
        </div>
        

    </body>
    <footer>
        copy rights &copy Route Academy @DateTime.Now.Year
    </footer>
</html>
 *@ 
@{
    Layout = "_Layout";
}
<h1>
    Home Page

</h1>
</div>